.player {
    width: 80%;
    margin: 0 auto;
}

.player-bg {
    background: #eeeeee;
    transition: background 1s linear;
}

.player-bg:hover {
    background: #feeeee;
}

.song-progress {
    width: 40%;
    display: inline-block;
    position: relative;
    top: -10px;
    color: salmon;
    font-size: 16px;
}

.seekBase {
    /*display: inline-block;*/
    height: 5px;
    /*width: 40%;*/
    border: 1px solid #cccccc;
    cursor: pointer;
}

.seekLoad {
    /*/display: flex;*/
	height: 3px;
    width: 0;
    background-color: salmon;
    /*background-color: #E0EAF1;*/
}

.salmon {
    margin: 20px;
    color: salmon;
}

.functionOff {
    color: aqua;
}

.spin {
    -webkit-animation: spin 1s 1 ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.seekBase {
    position: relative;
    top: -5px;
}

/* The flowing styles covers the default style of the playlist and volume bar*/

.playlist-sidebar {
    width: 29px;
    height: 100%;
    position: fixed;
    background: #eeeeee;
    z-index: 1000;
}

.playlist-icon {
    height: 100%;
    display: flex;
    padding-top: 160px;
    color: salmon;
}

.playlist-tooltip {
    top: 150px !important;
    opacity: 0.4;
    border-radius: 5px;
    background: salmon;
    color: #000;
    font-size: 14px;
}

.playlist a {
    color: dimgray;
}

.playlist {
    margin: 0 -8px;
    max-height: 250px;
    overflow: scroll;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.playlist-header {
    /*height: 20px;*/
    font-size: 16px;
    text-align: justify;
    padding: 5px 10px;
}

.playlist-group {
    text-align: left;
}

/* to limit the length of song info */
.song-info {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-item .song-ctrl {
    visibility: hidden;
    white-space: nowrap;
}

.playlist-item:hover .song-ctrl {
    visibility: visible;
}

/* playlist scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: salmon;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #dddddd;
    opacity: 0.5;
}

a:hover {
    text-decoration: none;
}

a, tr {
    cursor: pointer;
}

.song-index {
    padding-left: 15px !important;
}

.song-time {
    padding-right: 15px !important;
}

.wave {
    position: relative;
    top: -3px;
    width: 10px;
    height: 10px;
    background: transparent url("../images/wave.gif") no-repeat 0 6px;
}

.volumeBar {
    /*position: relative;*/
    top: -105px !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.tooltip.right .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.inline-block{
    display: inline-block;
    height: 100px;
}

.tooltip-inner {
    /*max-height: 250px;*/
    max-width: 450px;
    /*overflow: scroll;*/
    background: transparent;
    color: #000;
    opacity: 0.8;
}

.tooltip.right {
    padding: 0;
}

.jslider-pointer {
    /*position: relative !important;*/
    /*top: -10px !important;*/
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px !important;
    background: salmon !important;
}

.jslider-label {
    display: none !important;
}

.jslider-value {
    /*display: none !important;*/
    background: transparent !important;
}

.jslider.vertical div.jslider-bg i {
    background: silver !important;
}

.jslider.vertical div.jslider-bg i.default {
    height: 0;
    /*display: none;*/
}

.jslider.vertical div.jslider-bg i.before {
    display: none;
}

.jslider.vertical div.jslider-bg i.after {
    display: none;
}

.jslider.vertical div.jslider-bg i.left {
    /*poistion: relative;*/
    top: 5px;
    height: 100%;
}

.jslider.vertical div.jslider-bg i.right{
    height: 0;
}
