body {
    /*background: #F2F5F7;*/
}

hr {
    margin: 0;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
}

.div-inner-center {
    margin: 0 auto;
}

.color-salmon {
    color: salmon;
}

.color-salmon:hover {
    color: salmon;
}

/* the nav bar styles*/

.nav-center {
    width: 70%;
    margin: 0 auto;
}

.nav-item {
    margin: 0 30px;
    font-size: 16px;
}

.inline-block {
    display: inline-block !important;
}

.navbar-brand {
    padding: 5px 15px 13px 15px;
}
.navbar-brand>img {
    display: inline-block;
}

.nav>li>a {
    padding: 15px;
}

.avatar {
    padding: 10px 0 0 0 !important;
}

/* the modal styles */

.ngdialog.ngdialog-theme-default .ngdialog-content {
    top: -100px;
}

.avatar-select-wrapper {
    display: flex;
    justify-content: space-around;
}

.select-avatar > input {
    visibility: hidden;
    position: absolute;
}

.select-avatar > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

.select-avatar > input:checked + img {
    border: 2px solid salmon;
}

/* the home page styles */

.position-center {
    display: flex;
    justify-content: center;
}

.flex-box {
    display: flex;
    /*height: 400px;*/
    /*width: 300px;*/
}

.song-basic-info {
    margin: auto;
    text-align: center;
}

/* artist page */

.artist-wrapper {
    margin-top: 40px;
}

.artist-name {
    width: 300px;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}

.artist-info {
    text-align: justify;
}

.artist-info-text {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

/* user page and personal page */
.user-wrapper {
    margin-top: 20px;
}

.user-info-wrapper {
    margin-top: 70px;
}

.user-info-text {
    width: 150px;
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
}

.user-info-text input, textarea {
    width: 150px;
    font-size: 14px;
}

.user-favList-header {
    background: salmon;
}

.user-favList-wrapper {
    max-height: 250px;
    margin: 0 -8px;
    overflow-y: scroll;
    border-radius: 5px;
}

.user-favList {
    background: #efefef;
    text-align: left;
    color: salmon;
}

.user-favList a {
    color: salmon;
}

.user-favList a:hover {
    color: #e97046;
}

/* nav tab */
.row .nav-item {
    font-size: 14px;
}

.personal-info-wrapper {
    /*margin: 20px 0 0 120px;*/
}

.personal-avatar {
    margin-top: 70px;
}

.personal-info {
    margin-top: 90px;
}

.personal-info-form {
    margin-top: -40px;
}

.personal-info-text {
    display: inline-block;
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
}

/*.user-favList-wrapper::-webkit-scrollbar-thumb {*/
    /*border-radius: 2px;*/
    /*!*background: #1da1f2;*!*/
    /*opacity: 0.5;*/
/*}*/

/* song page */
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow:hover {
    overflow: visible;
}

.user-img-center {
    height: 70px;
    margin: 0 auto;
}

.song-comment::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.song-comment::-webkit-scrollbar-button {
    display: none;
}

.song-comment::-webkit-scrollbar-track {
    background: #dddddd;
}

.song-comment::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: salmon;
    opacity: 0.5;
}

/* player styles */

.player {
    width: 80%;
    margin: 0 auto;
}

.player-bg {
    background: #feeeee;
    transition: all 0.3s linear;
}

.player-bg:hover {
    background: #3c3c3c;
    /*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);*/
}

.song-progress {
    width: 55%;
    display: inline-block;
    position: relative;
    top: -10px;
    color: salmon;
    font-size: 16px;
}

.song-progress a {
    color: salmon;
}

.seekBase {
    /*display: inline-block;*/
    height: 5px;
    /*width: 40%;*/
    border: 1px solid #cccccc;
    cursor: pointer;
}

.seekLoad {
    /*/display: flex;*/
	height: 3px;
    width: 0;
    background-color: salmon;
    /*background-color: #E0EAF1;*/
}

.player-icon {
    margin: 20px;
    color: salmon;
}

.functionOff {
    color: aqua;
}

.spin {
    -webkit-animation: spin 1s 1 ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.seekBase {
    position: relative;
    top: -5px;
}

/* The flowing styles covers the default style of the playlist and volume bar*/

.playlist-sidebar {
    width: 29px;
    height: 100%;
    position: fixed;
    background: transparent;
    z-index: 1000;
}

.playlist-sidebar:hover {
    background: #feeeee;
    transition: background 0.5s linear;
}

.playlist-icon {
    height: 100%;
    display: flex;
    padding-top: 160px;
    color: salmon;
}

.playlist-icon:hover {
    color: darksalmon;
}

.playlist-tooltip {
    top: 150px !important;
    opacity: 0.4;
    border-radius: 5px;
    background: salmon;
    color: #000;
    font-size: 14px;
}

.playlist a {
    color: dimgray;
}

.playlist {
    max-height: 250px;
    margin: 0 -8px;
    overflow: scroll;
    border-radius: 5px;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.playlist-header {
    /*height: 20px;*/
    font-size: 16px;
    text-align: justify;
    padding: 5px 10px;
}

.playlist-group {
    text-align: left;
}

/* to limit the length of song info */
.song-info {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-item .song-ctrl {
    visibility: hidden;
    white-space: nowrap;
}

.playlist-item:hover .song-ctrl {
    visibility: visible;
}

/* overwrite bootstrap style*/

.table {
    margin-bottom: 0;
}

/* playlist scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background: salmon;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #dddddd;
    opacity: 0.5;
}

a:hover {
    text-decoration: none;
}

a, tr {
    cursor: pointer;
}

.song-index {
    padding-left: 15px !important;
}

.song-time {
    padding-right: 15px !important;
}

.wave {
    position: relative;
    top: -3px;
    width: 10px;
    height: 10px;
    background: transparent url("../images/wave.gif") no-repeat 0 6px;
}

.volumeBar {
    /*position: relative;*/
    top: -105px !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.tooltip.right .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.volumeBar-inline-block{
    display: inline-block;
    height: 100px;
}

.tooltip-inner {
    /*max-height: 250px;*/
    max-width: 450px;
    /*overflow: scroll;*/
    background: transparent;
    color: #000;
    opacity: 0.8;
}

.tooltip.right {
    padding: 0;
}

.jslider-pointer {
    /*position: relative !important;*/
    /*top: -10px !important;*/
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px !important;
    background: salmon !important;
}

.jslider-label {
    display: none !important;
}

.jslider-value {
    /*display: none !important;*/
    background: transparent !important;
}

.jslider.vertical div.jslider-bg i {
    background: silver !important;
}

.jslider.vertical div.jslider-bg i.default {
    height: 0;
    /*display: none;*/
}

.jslider.vertical div.jslider-bg i.before {
    display: none;
}

.jslider.vertical div.jslider-bg i.after {
    display: none;
}

.jslider.vertical div.jslider-bg i.left {
    /*poistion: relative;*/
    top: 5px;
    height: 100%;
}

.jslider.vertical div.jslider-bg i.right{
    height: 0;
}
