.seekBase {
    display: inline-block;
    height: 5px;
    width: 40%;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.seekLoad {
    /*/display: flex;*/
	height: 3px;
    width: 0;
    background-color: salmon;
    /*background-color: #E0EAF1;*/
}

.salmon {
    margin: 20px;
    color: salmon;
}

.functionOff {
    color: aqua;
}

.spin {
    -webkit-animation: spin 1s 1 ease-in-out;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.seekBase {
    position: relative;
    top: -5px;
}

/* The flowing styles covers the default style of the playlist and volume bar*/

.playlist-tooltip {
    /*width: 300px;*/
    opacity: 0.4;
    border-radius: 5px;
    background: salmon;
    color: #000;
    font-size: 14px;
}

.playlist a {
    color: dimgray;
}

.playlist-header {
    /*height: 20px;*/
    font-size: 16px;
    text-align: justify;
    padding: 5px 10px;
}

a:hover {
    text-decoration: none;
}

a, tr {
    cursor: pointer;
}

.song-index {
    padding-left: 10px !important;
}

.song-time {
    padding-right: 10px !important;
}

.wave {
    position: relative;
    top: -3px;
    width: 10px;
    height: 10px;
    background: transparent url("../images/wave.gif") no-repeat 0 6px;
}

.volumeBar {
    /*position: relative;*/
    top: -42px !important;
}

.tooltip.top  .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.tooltip.right  .tooltip-arrow {
    border-top-color: transparent;
    border-right-color: transparent;
}

.inline-block{
    display: inline-block;
    height: 100px;
}

.tooltip-inner {
    max-width: 400px;
    background: transparent;
    color: #000;
    opacity: 0.8;
}

.jslider-pointer {
    /*position: relative !important;*/
    /*top: -10px !important;*/
    width: 16px !important;
    height: 16px !important;
    border-radius: 8px !important;
    background: salmon !important;
}

.jslider-label {
    display: none !important;
}

.jslider-value {
    /*display: none !important;*/
    background: transparent !important;
}

.jslider.vertical div.jslider-bg i {
    background: silver !important;
}

.jslider.vertical div.jslider-bg i.default {
    height: 0;
    /*display: none;*/
}

.jslider.vertical div.jslider-bg i.before {
    display: none;
}

.jslider.vertical div.jslider-bg i.after {
    display: none;
}

.jslider.vertical div.jslider-bg i.left {
    /*poistion: relative;*/
    top: 5px;
    height: 100%;
}

.jslider.vertical div.jslider-bg i.right{
    height: 0;
}

