<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app">
                <img src="images/logo.png"  alt="Melody" height="40px" width="40px">
                Melody
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Personal Center</a>
            </li>
            <li>
                <a>About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="avatar">
                    <img src="images/avatar001.jpg" alt="avatar" width="30px" height="30px">
                </a>
            </li>
            <li class="">
                <a>
                    <span>username</span>
                </a>
            </li>
            <!--<li>-->
                <!--<a>-->
                    <!--<span class="fa fa-sign-out"></span> Sign out-->
                <!--</a>-->
            <!--</li>-->
            <button class="nav navbar-btn btn btn-danger">
                &nbsp;&nbsp;<span class="fa fa-sign-out"></span> Sign out
            </button>
        </ul>
    </div>
</div>