<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app">
                <img src="images/logo.png"  alt="Melody" height="40px" width="40px">
                Melody
            </a>
        </div>
        <ul class="nav navbar-nav nav-center position-center">
            <li class="nav-item">
                <a ui-sref="app">Home</a>
            </li>
            <li class="nav-item">
                <a ui-sref="app.artist({id:1})">artist</a>
            </li>
            <li class="nav-item">
                <a ui-sref="app.personal">Personal Center</a>
            </li>
            <li class="nav-item">
                <a ui-sref="app.about">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="isLogin">
                <a class="avatar">
                    <img ng-src="{{avatar}}" alt="avatar" width="30px" height="30px">
                </a>
            </li>
            <li  ng-if="isLogin">
                <a ui-sref="app.user({id: 1})">
                    <span>username</span>
                </a>
            </li>
            <button class="nav navbar-btn btn btn-danger"  ng-if="isLogin" ng-click="doLogout()">
                &nbsp;&nbsp;<span class="fa fa-sign-out"></span> Sign out
            </button>
            <button class="nav navbar-btn btn btn-success" ng-if="!isLogin" ng-click="openRegisterModal()">
                &nbsp;&nbsp;Sign Up
            </button>
            <button class="nav navbar-btn btn btn-primary" ng-if="!isLogin" ng-click="openLoginModal()">
                &nbsp;&nbsp;<span class="fa fa-sign-in"></span> Sign In
            </button>
        </ul>
    </div>
</div>