<div class="container">
    <div class="row position-center">
        <div class="col-md-4 col-md-offset-1 flex-box">
            <img src="images/album/shirobako.jpg" alt="album photo" height="400px">
        </div>
        <div class="col-md-3 flex-box">
            <div class="song-basic-info">
                <p>
                    <a title="album name">Unknow</a>
                </p>
                <p>
                    <a title="singer name">Unknow</a>
                </p>
                <p>
                    <a title="song name">SHIROBAKO</a>
                </p>
            </div>
        </div>
    </div>
</div>