<div class="container">
    <div class="row position-center">
        <div class="col-md-4 col-md-offset-1 flex-box" style="margin-top: 50px;">
            <img ng-src='{{albumCover}}' alt="album photo" height="350px">
        </div>
        <div class="col-md-3 flex-box">
            <div class="song-basic-info">
                <p class="text-capitalize">
                    <a title="music name" ui-sref="app.song({id: songID})">{{musicName}}</a>
                </p>
                <p class="text-capitalize">
                    <a title="singer name" ng-if="singerID.length" ui-sref="app.artist({id: singerID})">{{singerName}}</a>
                    <a title="singer name" ng-if="!singerID.length" ui-sref="app">{{singerName}}</a>
                </p>
                <p class="text-capitalize">
                    <a title="album name">{{albumName}}</a>
                </p>
            </div>
        </div>
    </div>
</div>