<div class="playlist">
    <div class="playlist-header">
        <span>Playlist</span>
        <a clear-playlist class="pull-right" title="clear the playlist">
            <span class="fa fa-trash-o"></span>
        </a>
    </div>
    <div class="playlist-group">
        <table class="table table-hover table-condensed" sv-root sv-part="playlist">
            <tr ng-repeat="song in playlist" class="playlist-item" sv-element  play-from-playlist="song" ng-click="changeSong()">
                <td class="song-index">
                    <span ng-if="!isPlaying || !(currentPlaying.id == song.id)">{{playlist.indexOf(song) + 1}}</span>
                    <span ng-if="currentPlaying.id == song.id && isPlaying" class="wave">&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="song-info">
                    <a>{{ song.title }}</a>
                    <a title="Drag/drop a item to adjust the playlist order">-</a>
                    <a>{{song.artist}}</a>
                </td>
                <td>
                        <span class="song-ctrl">
                            <a ng-click="toggleFavorite(currentPlaying)">
                                <span class="fa" ng-class="{'fa-heart': song.favorite, 'fa-heart-o': !song  .favorite}"></span>
                            </a>
                            <a remove-from-playlist="song" data-index="{{$index}}">
                                <span class="fa fa-trash-o"></span>
                            </a>
                        </span>
                </td>
                <td class="song-time">
                    <a>{{song.time}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>

