<!-- playlist -->
<div class="playlist-sidebar">
    <a uib-tooltip-template="'views/playlist.html'" tooltip-trigger="'mouseenter'" tooltip-placement="right" tooltip-class="playlist-tooltip" class="playlist-icon">
        <span class="fa fa-2x fa-list-ul"></span>
    </a>
</div>

<!-- player -->
<div class="navbar navbar-fixed-bottom">
    <div class="">
        <div class="row">
            <div class="col-md-12 player-bg">
                <!-- The player and the basic controller-->
                <div class="player">
                    <button play-all="songs">Play all</button>
                    <button play-all="songs" data-play="false">Add all</button>
                    <!-- init soundManager2 player -->
                    <sound-manager></sound-manager>
                    <a prev-track title="last track">
                        <i class="fa fa-2x fa-step-backward salmon" prev-track></i>
                    </a>
                    <a play-pause-toggle data-play={{playIcon}} data-pause={{pauseIcon}} title="play/pause">
                        <span class="fa fa-2x fa-play salmon"></span>
                    </a>
                    <a next-track title="next track">
                        <span class="fa fa-2x fa-step-forward salmon"></span>
                    </a>
                    <!-- the progress bar -->
                    <div class="song-progress">
                        <p>{{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                        </p>
                        <div class="seekBase" seek-track>
                            <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                        </div>
                    </div>
                    <a title="add to favorite - the solid heart means the song added!" ng-click="toggleFavorite(currentPlaying)">
                        <span class="fa fa-2x salmon" ng-class="{'fa-heart': currentPlaying.favorite, 'fa-heart-o': !currentPlaying.favorite}"></span>
                    </a>
                    <a title="repeat - the same color as the button means function is on!">
                        <span class="fa fa-2x fa-repeat salmon" ng-class="{'functionOff': !repeat}" repeat-music></span>
                    </a>
                    <a title="volume">
                        <span class="fa fa-2x fa-volume-up salmon" uib-tooltip-template="'views/volumeBar.html'" tooltip-class="volumeBar" tooltip-trigger="'mouseenter'" tooltip-placement="top"></span>
                    </a>
                    <a title="To get 5 random songs">
                        <span class="fa fa-2x fa-spinner salmon" ng-class="{'spin': spinner}" ng-click="spinIcon()"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>