<div class="container">
    <div class="row position-center user-wrapper">
        <div class="col-md-4 col-md-offset-2 user-info-wrapper">
            <img ng-src='{{userPhoto}}' alt="artist photo" width="150px">
            <p class="user-info-text">{{userName}}</p>
            <p class="user-info-text">{{introduction}}</p>
        </div>
        <div class="col-md-4">
            <h3>
                His/Her favorite
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="pull-right color-salmon" play-all="songs" title="play all ths songs in the list">
                    <span class="fa fa-play"></span>
                </a>
            </h3>
            <div class="user-favList-wrapper">
                <div class="user-favList">
                    <table class="table table-hover table-condensed">
                        <tr ng-repeat="song in songs" class="playlist-item">
                            <td class="song-index">
                                <span>{{songs.indexOf(song) + 1}}</span>
                            </td>
                            <td class="song-info">
                                <a>{{ song.title }}</a>
                                <a>-</a>
                                <a>{{song.artist}}</a>
                            </td>
                            <td>
                        <span class="song-ctrl">
                            <a music-player="play" add-song="song">
                                <span class="fa fa-play"></span>
                            </a>
                        </span>
                            </td>
                            <td class="song-time">
                                <a>{{song.time}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>